body {
    background-color: #e1e0dc;
    background: url("../img/bg.jpg") no-repeat;
    padding: 8%;
}

.jumbotron {
    background-color: transparent;
}

input {
    margin: 1% 0% 0 0%;
    width: 80%;
}

h1, p {
    text-align: center;
}

.btn {
    margin-left: 43%;
    margin-top: 5%;
}

#message {
    margin-top: 3%;
}

.error {
    display: none;
}
